@page
@model Week3_BankAccount.Pages.People.DeleteModel

@{
    ViewData["Title"] = "Damnatio Account Holder";
}

<h1>Annihilate Account Holder</h1>

<div>
    <h4>Are you sure you want to initiate an orbital strike on this individual's location?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.IsNefarious)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.IsNefarious)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.IRSNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.IRSNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AccountHolder.IDNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Chicken Out</a>
    </form>
</div>
