@page
@model Week3_BankAccount.Pages.People.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountHolder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.IsCriminal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.IsCriminal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.IRSReportingNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.IRSReportingNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AccountHolder.IDNumber">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
