@page
@model Week3_BankAccount.Pages.People.DetailsModel

@{
    ViewData["Title"] = "The Complete History of the Account Holder";
}

<h1>So, About the Account Holder...</h1>

<div>
    <h4>AccountHolder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.IsNefarious)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.IsNefarious)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.IRSNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.IRSNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AccountHolder.IDNumber">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
