@page
@model Week3_BankAccount.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Account List";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Open an Account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].CurrentBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].IRSNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].AccountholderID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BankAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IRSNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountholderID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IDNumber">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IDNumber">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IDNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
