@page
@model RecruitCatTreutewm.Pages.CompanyFolder.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Alter Company Details</h1>

<h4>@Model.Company.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Company.ID" />
            <div class="form-group">
                
                <label asp-for="Company.Name" class="control-label"></label>
                <input asp-for="Company.Name" class="form-control" />
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.OpenPositionID" class="control-label"></label>
                <select asp-for=Company.OpenPositionID">
                    @foreach (var item in Model.JobTitleList)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Company.OpenPositionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Company.MinimumSalary" class="control-label"></label>
                <input asp-for="Company.MinimumSalary" class="form-control" />
                <span asp-validation-for="Company.MinimumSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Company.MaximumSalary" class="control-label"></label>
                <input asp-for="Company.MaximumSalary" class="form-control" />
                <span asp-validation-for="Company.MaximumSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Company.Location" class="control-label"></label>
                <textarea asp-for="Company.Location" class="form-control"></textarea>
                <span asp-validation-for="Company.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Company.StartDate" class="control-label"></label>
                <input asp-for="Company.StartDate" class="form-control" />
                <span asp-validation-for="Company.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.IndustryID" class="control-label"></label>
                <select asp-for=Company.IndustryID">
                    @foreach (var item in Model.IndustryList)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Company.IndustryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Company.PositionOpenDate" class="control-label"></label>
                <input asp-for="Company.PositionOpenDate" class="form-control" />
                <span asp-validation-for="Company.PositionOpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Company.RejectedCandidateCount" class="control-label"></label>
                <input asp-for="Company.RejectedCandidateCount" class="form-control" />
                <span asp-validation-for="Company.RejectedCandidateCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
