@page
@model RecruitCatTreutewm.Pages.JobTitles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Job Titles</h1>

<p>
    <a asp-page="Create">Define new Job Title</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].MinimumSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].MaximumSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].RequiredYOE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobTitle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredYOE)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
