@page
@model RecruitCatTreutewm.Pages.Candidates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Candidate Details</h1>

<div>
    <h4>@Model.Candidate.LastName, @Model.Candidate.FirstName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.TargetSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.TargetSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CompanyID)
        </dt>
        <dd class="col-sm-10">
            @Model.Company
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.IndustryID)
        </dt>
        <dd class="col-sm-10">
            @Model.Industry
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.JobTitleID)
        </dt>
        <dd class="col-sm-10">
            @Model.Position
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.IsEmployed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.IsEmployed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.IsDesperate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.IsDesperate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Candidate.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
