@page
@model RecruitCatTreutewm.Pages.Candidates.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Candidates</h1>

<p>
    <i>This list is incomplete. You can help by <a asp-page="Create">expanding it</a>.</i>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].TargetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].IndustryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].JobTitleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].IsEmployed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].IsDesperate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Candidate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            @if (item.CompanyID != null)
            {
                <td>@Model.CompanyHash[item.CompanyID].ToString()</td>
            } 
            else
            { 
            <td></td>
            }
            <td>
                    @Model.IndustryHash[item.IndustryID]
            </td>
            <td>
                    @Model.JobHash[item.JobTitleID]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmployed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDesperate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
